# Time Series Analysis Part 1

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import chart_studio.plotly as py
import plotly.express as px

## Pandas Datetime Index

In [2]:
# pd.date_range('2020-10-01', periods=15, freq='D')
# pd.date_range('Oct 01, 2020', periods=15, freq='D')
# pd.to_datetime(['10/01/2020', '10/02/2020'], format='%d/%m/%Y')

arr_1 = np.random.randint(10, 50, size=(3,3))
date_arr = pd.date_range('2020-01-01', periods=3, freq='D')
df_1 = pd.DataFrame(arr_1, columns=['A','B','C'], index=date_arr)
df_1
# df_1.index.min()\
# df_1.index.max()
# df_1.index.argmin()
# df_1.index.argmax()

             A   B   C
2020-01-01  22  12  38
2020-01-02  39  46  46
2020-01-03  28  29  38

## Time Resampling

In [26]:
df_appl = pd.read_csv('appl.csv')
px.line(df_appl, x='AAPL_x', y='AAPL_y', 
       labels={'x':'Date', 'y':'Price'})
df_appl.head()

df_appl = pd.read_csv('appl.csv', index_col='AAPL_x', parse_dates=True)
df_appl

arr_2 = np.random.randint(86000000, 256000000, size=240)
df_appl['Volume'] = arr_2
df_appl.rename(columns={'AAPL_y':'Price', 'AAPL_x':'Date'}, inplace=True)
df_appl

df_appl.resample(rule='A').mean()
df_appl.resample(rule='A').min()
df_appl.resample(rule='A').max()
df_appl.resample(rule='A').sum()
df_appl.resample(rule='A').std()

# df_appl['Price'].resample('A').std() # Yearly basis with A
# df_appl['Price'].resample('W').std() # Weekly basis with W
# df_appl['Price'].resample('M').std() # Monthly basis with M
# df_appl['Price'].resample('SM').std() # SemiMonthly basis or Biweekly with SM
df_appl['Price'].resample('Q').std() # Quaterly basis with Q

AAPL_x
2014-03-31    2.015981
2014-06-30    6.644557
2014-09-30    3.036962
2014-12-31    6.959381
Freq: Q-DEC, Name: Price, dtype: float64

## Moving Averages